
/*
 * Vista per AT Compensi
 */
.compensoField .effectiveDateField div {
    float: left;
}

.compensoField {
    margin: 0.5em 0em;
}

.compensoAttachments {
    margin-top: 2em;
}

.compensoAttachments h3 {
    border-bottom: solid 1px darkgray;
    margin-bottom: 5px;
}

.moneyformat{
    text-align: right;
}