/**
* CSS per la vista area compensi
*/
.areaCompensi h1.documentFirstHeading{
	margin-bottom: 0.5em;
}

.areaCompensi div#export_csv{
	margin-bottom: 1em;
}

.areaCompensi div#export_csv a.context{
	margin-bottom:1em;
	background-color: #DDD;
	border: 1px solid #AAA;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	color: #333 !important;
	background-image: url();
	text-decoration: none;
}
.areaCompensi div#export_csv a.context:hover{
	color: #75AD0A !important;
	}
/**
* Fix agli stili per dataTables
*/

/*
 * Table
 */
table.dataTable {
	border-left: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}

table.dataTable thead th {
	font-weight: bold;
	cursor: pointer;
	*cursor: hand;
	text-align: left;
	color: #666;
	border: 0.1em solid #E7E7E7;
	border-style: solid solid none;
	background-color: #DDD;
	padding: 0.5em 1em;
	vertical-align: top;
}

table.dataTable tfoot th {
	padding: 3px 18px 3px 10px;
	/**border-top: 1px solid black;**/
	font-weight: bold;
}

table.dataTable td {
	border-right: 1px solid #DDD;
}


table.dataTable tr.odd { background-color: #EEE; }
table.dataTable tr.even { background-color: white; }

/*
 * Page length menu
 */
.dataTables_length {
	margin-bottom: 1em;
}


/*
 * Filter
 */
.dataTables_filter {
	margin-bottom: 1em;
}
